*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  background-color: #fff;
  background-image:
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee 1px, transparent 0.5px);
  background-size: 100% 18px;
}

#app {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.venti {
  font-size: 20px;
}

.title {
  margin: 20px 0 10px 0;
  font-size: 45px;
}

.subtitle {
  margin: 30px;
}

.articolo {
  text-transform: capitalize;
  padding: 5px;
}

.close {
  color: #922417;
  cursor: pointer;
}

.input_list {
border: none;
border-bottom: 2px solid #ccc;
margin: 50px;
width: 300px;
color: rgba(0,0,0,0.6);
}

.input_list:focus {
  outline: none;
}
